<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<h1>Disciplina</h1>
</h:head>
<h:body>
	<p:dataTable value="#{consDisciplinasBean.disciplina(id)}" var="disciplina"
				emptyMessage="Nenhuma disciplina cadastrada" rowHover="false">

				<p:column headerText="Código" style="text-align: center;">
					#{disciplina.codigo}
				</p:column>

				<p:column headerText="Nome">
					#{disciplina.nome}
				</p:column>
	</p:dataTable>
	<p:dataTable value="#{consAulasBean.Aulas}" var="aula"
				emptyMessage="Nenhuma aula cadastrada" rowHover="false">

				<p:column headerText="Assunto" style="text-align: center;">
					#{aula.assunto}
				</p:column>

				<p:column headerText="Data" style="text-align: center;">
					<h:outputText value="#{aula.data}">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone="GMT-3" />
					</h:outputText>
				</p:column>
	</p:dataTable>
	<p:dataTable value="#{consDisciplinasBean.Notas}" var="nota"
				emptyMessage="Nenhuma disciplina cadastrada" rowHover="false">

				<p:column headerText="Código" style="text-align: center;">
					#{disciplina.codigo}
				</p:column>

				<p:column headerText="Nome">
					#{disciplina.nome}
				</p:column>
	</p:dataTable>
</h:body>
</html>
